body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.container {
  background: #1e293b;
  padding: 30px;
  border-radius: 15px;
  width: 700px;
}

button {
  display: block;
  margin: 10px 0;
  padding: 12px;
  width: 100%;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

.answer-btn {
  background: #334155;
  color: white;
}

.correct {
  background: green !important;
}

.wrong {
  background: red !important;
}
